body{
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    text-align: center;
    background-image: url(25-251712_m.jpg);
}
.tituloh1 {
    width: 440px;
    text-align: center;
    margin: auto;
    background: rgb(43, 40, 40);
    color: #BEEDBF;
    height: 40px;
    border-radius: 10px;
}

.caixa1 {
    width: 440px;
    height: 100px;
    background: rgb(9, 8, 9);
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
.inbox1 {
    margin-top: 5px;
    border-radius: 10px;
}
.btnbox1 {
    margin-top: 12px;
    border-radius: 10px;
}
.box1 {
    width: 163px;
    height: 48px;
    margin-top: 13px;
    border-radius: 10px;
    color: red;
}
.caixa2 {
    width: 440px;
    height: 100px;
    background: rgb(9, 8, 9);
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
.inbox2 {
    margin-top: 5px;
    border-radius: 10px;
}
.btnbox2 {
    margin-top: 12px;
    border-radius: 10px;
}
.box2 {
    margin-top: 13px;
    border-radius: 10px;
    width: 163px;
    height: 48px;
    color: red;
}
.caixa3 {
    width: 440px;
    height: 100px;
    background: rgb(9, 8, 9);
    margin-top: 0px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
.inbox3 {
    margin-top: 5px;
    border-radius: 10px;
}
.btnbox3 {
    margin-top: 12px;
    border-radius: 10px;
}
.box3 {
    margin-top: 13px;
    border-radius: 10px;
    width: 163px;
    height: 48px;
    color: red;
}
.aviso{
    width: 440px;
    text-align: center;
    margin: auto;
    background: rgb(43, 40, 40);
    color: rgb(0, 255, 34);
    height: 40px;
    border-radius: 10px;
}

.avisoparagrafo{
    color: yellow;
}

.decodificadorcss {
    width: 440px;
    height: 100px;
    background: rgb(9, 8, 9);
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
.indeco {
    margin-top: 5px;
    border-radius: 10px;
}
.buttondecodificador {
    margin-top: 12px;
    border-radius: 10px;
}
.boxdecodifica {
    width: 163px;
    height: 48px;
    margin-top: 13px;
    border-radius: 10px;
    color: red;
}